body {
    background-color: #eeedbd;
    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li {
    float: left;
}

/*Float */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

a {
    color: rgb(106, 75, 241);
    background-color: rgb(78, 53, 223);
    border: solid 1px rgb(93, 97, 92);
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    
}

a:visited {
    color: rgb(201, 180, 180);
}

/*Mouse hover */
a:hover {
    color: rgb(116, 151, 70);
    text-decoration: underline;
}