body {
    background-color: #dbdbb1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

ul {
    list-style-type: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit ;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    position: fixed ;
    top: 0;
    left: 200px;
    width: 50%;
    background-color: #131212;
}

li {
    float: left;
}

/*Float */
li a {
    display: inline ;
    color: rgb(255, 252, 252);
    text-align: center;
    padding: 14px;
    text-decoration: lavender ;
}


/* Box in skill*/
.skill {
    position: center;
    margin: 8px;
    padding: 20px;
    border-style: ridge;
    border-width:   8px;
    border-color:   rgb(229, 150, 150);
    border-left:    8px solid #afa;
    border-right:   8px solid #afa;
    background-color: rgb(80, 62, 241);
    border-radius: 8px;
    height: 300px;
    width: 300px;
    color: rgb(230, 250, 234);
}

a:visited {
    color: rgb(201, 180, 180);
}

/*Mouse hover */
a:hover {
    color: rgb(116, 151, 70);
    text-decoration: underline;
}

.SP {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }