body {
    background-color: #eeedbd;
    
}

a {
    color: rgb(112, 83, 238);
    background-color: rgb(219, 224, 217);
    border: solid 1px rgb(174, 245, 157);
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    
}

a:visited {
    color: rgb(201, 180, 180);
}

/*Mouse hover */
a:hover {
    color: rgb(116, 151, 70);
    text-decoration: underline;
}