body {
    background-color: #dbdbb1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.ul_float {
    list-style-type: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit ;
    text-align: center;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    position: fixed ;
    top: 0;
    left: 200px;
    width: 50%;
    background-color: #131212;
}



/*Float */
.ul_float li {
    display: inline ;
    color: rgb(255, 252, 252);
    text-align: center;
    padding: 14px;
    text-decoration: lavender ;
}


/* Box in skill*/
.skill {
    text-align: center;
    position: center;
    margin: 8px;
    padding: 20px;
    border-style: ridge;
    border-width:   8px;
    border-color:   rgb(229, 150, 150);
    border-left:    8px solid #afa;
    border-right:   8px solid #afa;
    background-color: rgb(107, 92, 240);
    border-radius: 8px;
    color: rgb(230, 250, 234);
}

/*skill li  */
.skill li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 25px;
    text-align: center;
}

/* link visited */
a:visited {
    color: rgb(145, 153, 230);
}

/*Mouse hover around link*/
a:hover {
    color: rgb(116, 151, 70);
    text-decoration: underline;
}

.grid_sp {
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 250px;
    gap: 10px;
}


.grid_sp img {
    max-width: 80%;
    max-height: 80%;
    object-fit:cover; 
}
.grid_cli {
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 250px;
    gap: 10px;
}

.grid_cli img {
    max-width: 100%;
    max-height: 100%;
     
}

/*grid calculator*/
.grid_calc {
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 250px;
    gap: 10px;
}

.grid_calc img {
    max-width: 100%;
    max-height: 100%;
     
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: center;
    border-style: ridge;
    border-width:   8px;
    border-color:   rgb(169, 137, 245);
    border-left:    8px solid #afa;
    border-right:   8px solid #afa;
    background-color: rgb(127, 247, 247);
    color: rgb(14, 13, 13);
}